@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  min-height: 100vh;
  min-width: auto;
  font-family: "Roboto", sans-serif;
  background-color: rgb(192, 124, 255);
}

.navbar {
  padding-top: 30px;
}
.audios_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(192, 124, 255);
  margin: auto;
  width: 80%;
  padding-top: 3rem;
}

.audios {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #c07cff;
  gap: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 50px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.slider-container {
  margin-top: 30px;
}

.slider {
  background: #fff;
  appearance: none;
  outline: none;
  height: 2px;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #baff7a;
  cursor: pointer;
}

.icon::selection {
  background: rgb(222, 250, 240);
}

.play {
}

.pause {
  outline: 3px solid #fff;
  border-radius: 10px;
}
