.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: auto;
  background-color: rgb(192, 124, 255);
}

.audios {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.icon::selection {
  background: rgb(222, 250, 240);
}
